<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        @Html.ActionLink("GSB Praticien", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-grow-1">
                @if (Context.Session.GetString("login") == null)
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Connexion" asp-action="Index">Connexion</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Praticien" asp-action="Index">Praticiens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Recherche" asp-action="Index">Recherche</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link text-info">
                            Connecté : @Context.Session.GetString("login")
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" asp-controller="Connexion" asp-action="Session">Déconnexion</a>
                    </li>
                }
            </ul>


        </div>
    </div>
</nav>
