@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout_GSB_Praticien.cshtml";
}
<h2>Accueil</h2>
<div>
    <p>
        Bienvenue dans GSB Praticien <span style="color:red">@ViewData["Nom"]</span>
    </p>
</div>
